<%= form_with(model: tweet, local: true, data: {remote: true}) do |form| %>
  <div class="form-group">
    <%= form.text_area :body, id: :tweet_body, class: 'form-control border-input', placeholder: "What's happening?", rows: '3' %>
    <div class="pull-left"><label id="textarea_feedback"></label></div>
    <div class="pull-right m-t-10" >
      <%= form.submit "Tweet", class: 'btn btn-info btn-fill btn-wd', id: 'submitTweet' %>
    </div>
  </div>
<% end %>
