<div class="row">
  <div class="col-md-12">
    <div class="card p-b-40">
      <div class="content">
        <%= render "form", tweet: Tweet.new %>
      </div>
    </div>
    <div class="card m-t-10">
      <div class="content">
        <ul class="list-unstyled team-members">
          <% @tweets.each do |tweet| %>
            <%= render partial: 'tweet', locals: {tweet: tweet} %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
