<div class="row">
  <div class="col-md-12">
    <div class="card p-b-40">
      <div class="content">
        <%= render "form", tweet: Tweet.new %>
      </div>
    </div>
    <div class="card m-t-10">
      <div class="content">
        <ul id="tweets" class="list-unstyled team-members">
          <%= render partial: 'tweet_list', locals: {tweets: @tweets} %>
        </ul>
      </div>
    </div>
  </div>
</div>
